  .welcome-card {
    margin: 10px;
    text-align: center;
  }
  
  ion-card {
    margin: 10px;
  }
  
  ion-button {
    padding: 1px;
    margin:0px;
    font-size: 12px;
  }
  
  ion-icon {
    font-size: 24px;
  }
  
  ion-menu-toggle {
    --padding-start: 0;
  }
  
  ion-menu-button {
    --padding-start: 10px;
  }
  
  .butt{
    padding:0;
  }
  .logo {
    padding: 10px;
    display: block;
    margin: 2px auto 2px auto;
    width: 150px;
  height: 130px; }
  